
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content p-2">
            <div class="modal-body align-content-center ">
                <div class="fs-4 text-center mb-4">
                    Вы действительно хотите удалить категорию?
                </div>

                <div class="d-flex align-items-center justify-content-around">
                    <button type="button" class="btn btn-success" >Да, удалить</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
