@font-face {
    font-family: SecretServiceRegular;
    src: url("/fonts/SecretService-Regular.woff");
}

@font-face {
    font-family: RobotoBold;
    src: url("/fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: RobotoRegular;
    src: url("/fonts/Roboto-Regular.ttf");
}

body {
    font-family: RobotoRegular, sans-serif;
    height: 100vh;
}

.layout{
    height: 100vh;
}

.sidebar{
    width: 220px;
    border-right: 1px solid #D9D9D9;
    height: 100vh;
}

.sidebar .logo{
    padding: 40px 70px 20px 50px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar .logo img{
    width: 98px;

}

.menu{
    padding: 60px 20px 20px;
    border-bottom: 1px solid #D9D9D9;

}

.menu .nav .nav-link{
    font-size: 14px;
    padding: 12px 12px 16px;
}

.menu .nav .nav-link span{
    padding-left: 10px;
}

.balance-text{
    color: #052C65;
    font-family: RobotoBold, sans-serif;
}

.balance-price{
    color: #0D6EFD;
    font-family: RobotoBold, sans-serif;
}

.user-info {
    gap: 16px;
    padding: 20px 20px 40px;
}

.user-text {
    font-size: 14px;
    color: #000;
}

.user-image svg {
    width: 36px;
    height: 36px;
}

.menu .accordion .accordion-item{
    padding-left: 0;
}

.auth-container {
    height: 100vh;
    padding: 60px 0 20px;
}

.form{
    width: 400px;
}

.logo img {
    width: 170px;
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 60px;
    font-family: RobotoBold, sans-serif;
    color: #052C65;
}

h3 {
    margin-bottom: 22px;
    margin-top: 140px;
    font-family: RobotoBold, sans-serif;
    color: #290661;
}

.auth-container .input-group {
    margin-bottom: 10px;
}

.custom-control-label {
    margin-bottom: 0;
}

/*//will be deleted after Chart.js*/
.legend-item {
    margin-right: 10px;
}

.color-block {
    display: inline-block;
    width: 35px;
    height: 10px;
    margin-right: 5px;
}

.color-label {
    display: inline-block;
    margin-right: 10px;
}
/*//will be deleted after Chart.js*/

#incomeChart {
    width: 300px;
    height: 300px;
    margin: auto;
}

.card-body {
    padding: 1.25rem;
}

.btn-light {
    background-color: #fff;
    color: #CED4DA;
    border-color: var(--bs-border-color-translucent);
    min-height: 112px;
}

.menu .nav .nav-link.active,
.menu .nav .nav-link:hover,
.menu .nav .nav-link:focus {
    background-color: #007bff;
    color: white;
}

svg{
    fill: currentColor;
}

.content{
    overflow-y:auto;
    padding: 100px 60px;
}


